@using part3.Models
@model List<Computer_composit>

@{

}

<h2>Cart</h2>
<form action="/Home/PurchaseItemsInCart" method="post">
    <button>ORDER AND PAY</button>
</form>

<br />

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                <img id="image_shown" src="@Url.Content(item.image_path)" style="height: 100px; width: auto" />
            </td>
            <td>
                <input id="price" value="@item.price" type="hidden" class="id_computer_remove_from_cart" />
                <input id="id" value="@item.id" type="hidden" class="id_computer_remove_from_cart" />
                <input type="button" name="btn_RemoveFromCart" value="Remove" class="btn_RemoveComputerFromCart btn btn-primary" />
            </td>
        </tr>
    }


</table>

@section scripts{

    <script type="text/javascript">

        $(".btn_RemoveComputerFromCart").click(function () {
            console.log("Pressed Computer remove");
            console.log($(this).siblings("#price").val());
            var obj = this;
            $.ajax({
                url: "@Url.Action("RemoveComputerFromCart")",    // whom to call
                type: "POST",
                data: {
                    idComputer: $(this).siblings("#id").val(),
                    priceComputer: $(this).siblings("#price").val()
                },
                success: function (data) {
                    console.log(data);
                    if (data == 1) {
                        var parent_container = obj.parentElement.parentElement;
                        $(parent_container).fadeOut(1000);
                    }
                }
            });
        });
    </script>
}